.main{
    margin: 30px;
}

.right{
    float: right;
    margin-bottom: 30px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.hiddenText{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    word-break: normal !important;
}