.main{
    margin: 30px;
}

.right{
    float: right;
    margin-bottom: 30px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.hiddenText{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    word-break: normal !important;
}

.btn-box {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    user-select: none;
    margin: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.box:nth-of-type(1) {
    background: linear-gradient(
            150deg,
            rgb(251, 122, 8),
            rgb(240, 47, 31)
    );
}

.box:nth-of-type(2) {
    background: linear-gradient(
            150deg,
            rgb(241, 43, 84),
            rgb(237, 11, 125)
    );
}

.box:nth-of-type(3) {
    background: linear-gradient(
            150deg,
            rgb(65, 182, 73),
            rgb(125, 195, 65)
    );
}

.box:nth-of-type(4) {
    background: linear-gradient(
            150deg,
            rgb(5, 141, 239),
            rgb(22, 175, 194)
    );
}

.box:nth-of-type(5) {
    background: linear-gradient(
            150deg,
            rgb(134, 0, 255),
            rgb(103, 0, 255)
    );
}

.box:nth-of-type(6) {
    background: linear-gradient(
            150deg,
            rgb(209, 11, 148),
            rgb(113, 52, 178)
    );
}

.ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
}


.animation {
    animation: ripple 0.5s ease-in;
}

@keyframes ripple {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.pc {
    float: left;
    width: 50%;
}