<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YzxUPUP</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../static/css/me.css">
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}" href="../static/css/editormd.min.css">
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}" href="../static/css/editormd.preview.min.css">
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/editormd.min.js}" src="../static/js/editormd.min.js" type="application/javascript"></script>
    <script th:src="@{/js/lib/marked.min.js}" src="../static/js/lib/marked.min.js"></script>
    <script th:src="@{/js/lib/prettify.min.js}" src="../static/js/lib/prettify.min.js"></script>
</head>
<body style="background-color: #efefef">
<!--导航栏-->
<nav th:replace="fragment :: top"></nav>
<!--主体-->
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布</h2>

            <hr>
            <form th:action="@{/admin/edit}" action="#" method="post">
                <input type="hidden" name="id" th:value="${blog.id}">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input th:value="${blog.title}" type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
                </div>
                <br/>
                <br/>
                <div class="form-group" id="blog-editor">
                    <textarea th:text="${blog.value}" id="value" name="value" class="form-control" rows="10" style="display:none;"></textarea>
                </div>
                <script>
                    $(function () {
                        var editor = editormd("blog-editor", {
                            width: "100%",
                            height: "400px",
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入博客内容",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload"
                        });
                    });
                </script>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input th:value="${blog.tag}" type="text" class="form-control" id="tag" name="tag" placeholder="请添加标签">
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="firstImg">首图地址</label>
                    <input th:value="${blog.firstImg}" type="text" class="form-control" id="firstImg" name="firstImg" placeholder="请添加首图地址">
                </div>
                <br/>
                <br/>
                <a th:href="@{/admin/mange}" href="#" class="btn btn-info right" style="margin-left: 10px">返回</a>
                <button type="submit" class="btn btn-primary right">修改</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>