<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YzxUPUP</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../static/css/me.css">
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #efefef">
<!--导航栏-->
<nav th:replace="fragment :: top"></nav>
<!--主体-->
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 博客列表</h2>
            <span aria-hidden="true" style="color: red">共</span>
            <span aria-hidden="true">[[${page.totalCount}]]</span>
            <span aria-hidden="true" style="color: red">篇博客</span>
            <hr>
            <span class="warning" th:text="${non}"></span>
            <div class="media" th:each="blog:${page.counts}">
                <div class="media-left media-middle">
                    <a th:href="@{/value(id = ${blog.id})}" href="#">
                        <img class="media-object img-rounded" th:src="${blog.firstImg}" src="../static/images/head.png" style="width: 200px;height: 150px">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading" th:text="${blog.title}">Mybatis快速入门</h2>
                    <div>
<!--                        <span style="background-color: orange" class="badge">[[${blog.tag}]]</span>-->
<!--                        <a th:href="@{/searchByTag(tag=${tag})}" th:each="tag:${blog.tags}" style="background-color: darkseagreen" class="badge">[[${tag}]]</a>-->
                        <span th:each="tag:${blog.tags}"><span style="background-color: red" class="badge">[[${tag}]]</span> </span>
                        <br/>
                        <span style="background-color: orange" class="badge">评论数:[[${blog.commentCount}]]</span>
                        <br/>
                        <span style="background-color: blue" class="badge">浏览数:[[${blog.viewCount}]]</span>
                        <br/>
                        <br/>
                        <span class="text-desc">[[${#dates.format(blog.createTime,'yyyy年MM月dd日')}]]</span>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12">
            <h2><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 所有标签</h2>
            <span th:each="tags:${page.allTag}"><a th:href="@{/searchByTag(tag=${tags})}" class="label label-info">[[${tags}]]</a> </span>
            <br/>

            <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> 浏览量较高的博客</h2>
            <div th:each="view:${mostView}">
                <a th:href="@{/value(id = ${view.id})}" href="#" class="label label-default" th:text="${view.title}"></a>
                <span class="text-desc">[[${view.viewCount}]]个浏览</span>
            </div>
            <br/>

            <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 如果你想联系我</h2>
            <img th:src="@{/images/QQ.png}" src="../static/images/wechat.png" height="100" width="100"/>
            <img th:src="@{/images/wechat.png}" src="../static/images/QQ.png" height="100" width="100" style="margin-left: 50px" />
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a th:if="${page.firstPage} == false" th:href="@{/(currentPage=${page.currentPage}-1)}" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:classappend="${i.intValue() == page.currentPage}?'active'" th:each="i:${#numbers.sequence(1,page.totalPage)}">
                <a href="#" th:href="@{/(currentPage=${i.intValue()})}" th:text="${i.intValue()}"></a>
            </li>
            <li>
                <a th:if="${page.lastpage} == false" th:href="@{/(currentPage=${page.currentPage}+1)}" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>