<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YzxUPUP</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../static/css/me.css">
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #efefef">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">YzxUPUP</span>
            </button>
            <a class="navbar-brand" href="#">YzxUPUP</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索博客">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}"><a th:href="@{/login}" href="#">
                    登录</a></li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a th:text="${session.user.username}" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发布</h2>

            <hr>
            <form th:action="@{/publish}" action="#" method="post">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
                </div>
                <br/>
                <br/>
                <label for="value">正文</label>
                <textarea id="value" name="value" class="form-control" rows="10" placeholder="请输入正文"></textarea>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="请添加标签">
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="firstImg">首图地址</label>
                    <input type="text" class="form-control" id="firstImg" name="firstImg" placeholder="请添加首图地址">
                </div>
                <br/>
                <br/>
                <button type="submit" class="btn btn-primary right">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>发布博客</h2>
            标题一定要写，简明扼要！！
            多个标签以逗号分隔！！
            博客内容清晰明了！!
        </div>
    </div>
</div>
</body>
</html>