<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>YzxUPUP</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" href="../static/css/me.css">
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}" href="../static/css/editormd.min.css">
    <link rel="stylesheet" th:href="@{/css/editormd.preview.min.css}" href="../static/css/editormd.preview.min.css">
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/editormd.min.js}" src="../static/js/editormd.min.js" type="application/javascript"></script>
    <script th:src="@{/js/lib/marked.min.js}" src="../static/js/lib/marked.min.js"></script>
    <script th:src="@{/js/lib/prettify.min.js}" src="../static/js/lib/prettify.min.js"></script>
    <script th:src="@{/js/me.js}" src="../static/js/me.js"></script>
</head>
<body style="background-color: #efefef">
<!--导航栏-->
<nav th:replace="fragment :: top"></nav>
<!--主体-->
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>[[${blog.title}]]
                <small>
                    <span class="text-desc">[[${blog.commentCount}]]个回复</span>
                    <span class="text-desc">[[${blog.viewCount}]]个浏览</span>
                    <span class="text-desc">创建时间：[[${#dates.format(blog.createTime,'yyyy年MM月dd日')}]]</span>
                </small>
            </h2>
            <!--博客内容-->
            <div id="value-view">
                <textarea th:text="${blog.value}" style="display:none;">### Hello world!</textarea>
            </div>
            <script>
                $(function() {
                    var testView = editormd.markdownToHTML("value-view", {
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <!--            <p class="text-left" th:text="${blog.value}">...</p>-->
            <form th:action="@{/comment}" action="#" method="post">
                <input name="parentId" th:value="${blog.id}" type="hidden">
                <label for="commentValue">评论</label>
                <input type="text" id="commentValue" name="commentValue" class="form-control" rows="10"
                       placeholder="请输入评论">
                <br/>
                <div style="float: left;margin-right: 20px">
                    <label for="commenterName">昵称</label>
                    <input style="width: 300px" type="text" class="form-control" id="commenterName" name="commenterName"
                           placeholder="我希望通过昵称记住您">
                </div>
                <div style="float: left">
                    <label for="commenterEmail">邮箱</label>
                    <input style="width: 300px" type="email" class="form-control" id="commenterEmail"
                           name="commenterEmail" placeholder="我将通过邮箱告知,我回复了您">
                </div>
                <button type="submit" class="btn btn-success right" style="margin-top: 15px">发布</button>
            </form>
            <a th:href="@{/}" href="#" class="btn btn-info right" style="margin-top: 15px;margin-right: 15px">返回</a>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>评论</h2>
            <div th:each="comment,i:${comments}">
                <div th:id="value+${i.count}" id="value" style="overflow:hidden" class="hiddenText"
                     th:text="${comment.commentValue}"></div>
                <small>
                    <a th:id="${i.count}" onclick="show(this)" href="#" id="detail">详情</a>
                    <span class="text-desc">[[${comment.commenterName}]]</span>
                    <span class="text-desc">[[${comment.commenterEmail}]]</span>
                    <a th:if="${session.user} != null" th:href="@{/delComm(type=${comment.type},id=${comment.parentId})}" href="#">删除</a>
                </small>
            </div>
        </div>
    </div>
</div>
<script>
    function show(obj) {
        var id = obj.id;
        var innerText = document.getElementById("value" + id).innerText;
        alert(innerText);
    }
</script>
</body>
</html>